/* Header */
.header {
  background: #36648b;
  margin-bottom: 1.45rem;
}

.header-heading {
  margin: 0;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 720px;
  padding: 1.45rem 1.0875rem;
}

.logo {
  color: white;
  text-decoration: none;
  text-shadow: none;
  background: none;
}

.logo:hover {
  color: #fff;
  opacity: 0.8;
}

/* PostMeta */

.post-meta {
  color: #545454;
  display: flex;
  font-size: 0.8rem;
}

.post-time {
  padding-left: 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.post-timeToRead {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.4rem;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0.8rem;
}

.post-tag {
  color: #9eabb3;
  margin-right: 0.6rem;
  margin-bottom: 0.2rem;
}

.post-tag a {
  color: #545454;
}

/* SocialNetworks */
.social-media {
  display: flex;
  list-style: none;
}

.social-media li {
  margin-right: 1rem;
}

.social-media a {
  color: #fff;
}
