.arrow {
  padding: 5px 20px;
  border: 1px solid #419eda;
}

/* Lists */
.list {
  display: flex;
  list-style: none;
  margin: 3rem 0;
}

.list-wrap {
  flex-wrap: wrap;
}

.list li {
  margin-right: 1rem;
}

.list-reset {
  list-style: none;
  margin-left: 0;
}

/* Post */
.post-meta {
  color: #545454;
  display: flex;
  font-size: 0.8rem;
}

.post-time {
  padding-left: 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.post-timeToRead {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.4rem;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0.8rem;
}

.post-tag {
  color: #9eabb3;
  margin-right: 0.6rem;
  margin-bottom: 0.2rem;
}

.post-tag a {
  color: #545454;
}

/* Home page / Landing page */
.highlight {
  text-align: right;
}

.highlight h1 {
  border-bottom: 0;
  margin-bottom: 0;
}

.handle {
  color: #545454;
  font-size: 0.8rem;
  font-style: italic;
}

.intro {
  margin-top: 1rem;
}
