@media print {
  .menu-button,
  .blog-logo,
  .post-footer,
  .read-next,
  .poweredby,
  .post:after {
    display: none;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }

  .post-head.main-header {
    height: auto;
    min-height: auto;
  }
}
